# Core Frameworks
Flask
gunicorn
langchain
langchain-community
langchain-anthropic
sentence-transformers
langchain-groq

# Cors
Flask-Cors

# Data & Database
psycopg2-binary
supabase
pgvector

# UI Build Dependencies (Needed for Docker)
pypdf

# Utilities
python-dotenv
requests

